<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>流程控制 循环</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(item,index) in list">
                {{index}}:{{item}}
            </li>
        </ul>

        <ul>
            <li v-for="(val,key,index) in obj">
                {{index}}:{{key}}:{{val}}
            </li>
        </ul>
    </div>

    <script src="../js/vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                list:["芳芳","辰哥","白白","前前","组长","付昱"],
                obj:{
                    name:"冬雪",
                    age:"18",
                    wife:"苏菲浅",
                    son:"飞鹰"
                }
            }
        })
    </script>
</body>
</html>